body {
	margin: 0;
	padding: 0;
}

div {
	display: block;
	margin: auto;
}

/* main div components */

.main-container {
	width: 100vw;
	height: 100vh;
	background-color: #252525;
	font-family: consolas;
}

.notepad-header {
	min-height: 30px;
	height: 5%;
	width: 100%;
	margin: auto;
	position: relative;
	background-color: rgb(243, 139, 118);
}

.notepad-body {
	display: flex;
    width: 100%;
    height: 75%;
	margin: auto;
	position: relative;
}

.notepad-footer {
    width: 100%;
    height: 20%;
	margin: auto;
	position: relative;
	background-color: #3E3E42;
}

.notepad-console {
	width: 100%;
	height: 100%;
	margin: auto;
	background-color: #252525;
}

.notepad-lines {
	height: 100%;
	display: inline-block;
	min-width: 31px;
	background-color: #1E1E1E;
	color: #80c0ff;
	margin-right: 12px;
	float: left;
	border-right: 1px solid;
}


.lasm-line {
	width: 100%;
	height: 18;
	margin: 0;
	padding: 2px 0 2px 0;
}
.lasm-opcode {
	color: #a0a0e0;
}

.lasm-operands {
	color: #a0a0e0;
}

.lasm-note {
	color: #a0a0e0;
}

.lasm-script {
	font-size: 16px;
	line-height: 18px;
	margin: 0;
}

.notepad-script {
	height: 100%;
	display: inline-block;
	width: 55%;
	min-width: 21px;
	background-color: #1E1E1E;
	padding-left: 5px;
	color: ghostwhite;
	overflow: auto;
}

.notepad-lasm {
	height: 100%;
	width: 45%;
	display: inline-block;
	min-width: 21px;
	background-color: #252525;
}

/* Small elements */

.notepad-lines > ul {
	text-align: right;
	font-size: 16px;
	line-height: 18px;
	text-decoration: bold;
    list-style: none;
    padding: 0 5px 0 7px;
    margin: 0;
}

.console-text {
	width: 100%;
	display: block;
	outline: none;
	border: none;
	padding: 0;
	height: 18px;
	bottom: 0;
	margin: auto;
	background-color: #3E3E42;
	color: ghostwhite;
	
}
